<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Items List</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <h1>My todo</h1>
      <ul>
        <th:block th:each="item : ${itemList}">
	  <th:block th:replace="~{'todo.html'}" th:args="${item}"></th:block>
	</th:block>
      </ul>
      <hr>
      <form hx-post="/todos" th:object="${newTodo}" hx-target="ul" hx-swap="beforeend" hx-on::after-request="document.getElementById('description_form').value = ''">
        <input type="text" id="description_form" name="description" placeholder="Add a new item..." required  >
	      <button type="submit">Add</button>
      </form>
  </body>
</html>

